body {
    background-color: rgb(229, 242, 245);
}

* {
    margin: 0;
    padding: 0;
}

.top {
    background-color: #333333;
    color: #ffffff;
    /* 调背景样式 */
    display: block;
    height: 108px;
    border-collapse: collapse;
}

h2 {
    color: rgb(255, 255, 255);
    padding: 15px 0 0 30px;
    text-align: left;
    font-size: 30px;
    /* 加样式 */
}

.user {
    color: #ffffff;
    text-align: right;
    margin-right: 20px;
}

.nav {
    text-decoration: none;
    background-color: white;
}

.nav ul {
    display: flex;
    list-style: none;
    margin-top: 20px;
    border-bottom: black solid 3px;
}

.nav li {
    margin: auto;
}

.nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.nav a:hover {
    color: blue;
}

.fixed {
    position: fixed;
    left: 50%;
    margin-left: 650px;
    top: 200px;
    width: 100px;
    height: 200px;
    background-color: #b9f1f1;
    text-align: center;
}

.middle {
    width: 500px;
    height: 400px;
    margin: 100px auto;
    position: relative;
}

.middle h4 {
    text-align: center;
    font-size: 25px;
    margin: -80px 0px 20px 0px;
    color: red;
    /* 加样式 */
}

.middle img {
    width: 100%;
}

.头条字体 {
    text-align: center;
    display: block;

}

.头条字体 a {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 20px;
    color: black;
}

.头条字体 a:hover {
    color: blue;
    background-color: azure;
}

.radio {
    position: absolute;
    top: 90%;
    left: 40%;
}

.prev {
    position: absolute;
    top: 50%;
    margin-left: 5px;
    margin-top: 15px;
    width: 20px;
    height: 30px;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    text-decoration: none;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
}

.next {
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: 5px;
    margin-top: 15px;
    width: 20px;
    height: 30px;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    text-decoration: none;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 20px;
}

h3 {
    margin-left: 150px;
    font-size: 25px;
    color: blueviolet;
}

.bottom1 {
    width: 1300px;
    height: 600px;
    background-color: aliceblue;
    margin: 20px auto;
    list-style: none;
}

.bottom1 li {
    width: 400px;
    height: 550px;
    background-color: white;
    margin: 25px 0px 0px 20px;
    float: left;
    text-align: center;
}

.bottom2 {
    width: 1000px;
    height: 600px;
    background-color: aliceblue;
    margin: 50px auto;
    list-style: none;
}

.bottom2 li {
    width: 400px;
    height: 550px;
    background-color: white;
    margin: 25px 0px 0px 60px;
    float: left;
    text-align: center;
}