body {
    background-color: rgb(229, 242, 245);
}

* {
    margin: 0;
    padding: 0;
}

.top {
    background-color: #333333;
    color: #ffffff;
    /* 调背景样式 */
    display: block;
    height: 108px;
    border-collapse: collapse;
}

h2 {
    color: rgb(255, 255, 255);
    padding: 15px 0 0 30px;
    text-align: left;
    /* 加样式 */
}

.user {
    color: #ffffff;
    text-align: right;
    margin-right: 20px;
}

.nav {
    text-decoration: none;
    background-color: white;
}

.nav ul {
    display: flex;
    list-style: none;
    margin-top: 20px;
    border-bottom: black solid 3px;
}

.nav li {
    margin: auto;
    position: relative;
}

.nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.nav a:hover {
    color: blue;
}

.middle {
    width: 500px;
    height: 300px;
    margin: 100px auto;
}

.middle h4 {
    text-align: center;
    font-size: 25px;
    margin: -80px 0px 20px 0px;
    color: red;
    /* 加样式 */
}

.middle img {
    width: 100%;
}

.头条字体 {
    text-align: center;
    display: block;

}

.头条字体 a {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 20px;
    color: black;
}

.头条字体 a:hover {
    color: blue;
    background-color: azure;
}

.radio {
    width: 100%;
    text-align: center;
    display: inline-block;
}

h3 {
    margin-left: 150px;
    margin-top: 200px;
    font-size: 25px;
    color: blueviolet;
}

.bottom1 {
    width: 1300px;
    height: 600px;
    background-color: aliceblue;
    margin: 20px auto;
    list-style: none;
}

.bottom1 li {
    width: 400px;
    height: 550px;
    background-color: white;
    margin: 25px 0px 0px 20px;
    float: left;
    text-align: center;
}

.bottom2 {
    width: 1000px;
    height: 600px;
    background-color: aliceblue;
    margin: 50px auto;
    list-style: none;
}

.bottom2 li {
    width: 400px;
    height: 550px;
    background-color: white;
    margin: 25px 0px 0px 60px;
    float: left;
    text-align: center;
}